name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - java: 8
            os: ubuntu-latest
          - java: 8
            os: macos-latest
          - java: 11
            os: ubuntu-latest
          - java: 17
            os: ubuntu-latest
    steps:
    - uses: actions/setup-java@v2
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: actions/checkout@v2.3.4
    - shell: bash
      name: install sbt
      run: curl -Ls https://raw.githubusercontent.com/dwijnand/sbt-extras/aff36a23f7213d94189aabfcc47a32b11f3a6fba/sbt > ./sbt && chmod 0755 ./sbt
    - uses: coursier/cache-action@v6
    - run: |
        case ${{ matrix.java}} in
          17)
            ./sbt -v test
            ;;
          *)
            ./sbt -v ";+check ;+cpl ;+test"
        esac
