on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            os: ubuntu-latest
          - java: 11
            os: macos-latest
          - java: 11
            os: ubuntu-latest
          - java: 17
            os: ubuntu-latest
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: temurin
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - shell: bash
      name: install sbt
      run: curl -Ls https://raw.githubusercontent.com/dwijnand/sbt-extras/aff36a23f7213d94189aabfcc47a32b11f3a6fba/sbt > ./sbt && chmod 0755 ./sbt
    - uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # v6.4.8
    - run: |
        case ${{ matrix.java}} in
          17)
            ./sbt -v test
            ;;
          *)
            ./sbt -v ";+check ;+cpl ;+test"
        esac
