name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'scalaz' }}
    steps:
    - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: 89659
        private_key: ${{ secrets.SCALAZ_BOT_KEY }}
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@v2.78.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74843977+scalaz-bot[bot]@users.noreply.github.com"
        author-name: scalaz-bot[bot]
